@font-face {
  font-family: 'picotype';
  src: url('./fonts/picotype/picotype-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'picotype';
  src: url('./fonts/picotype/picotype-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'picotype';
  src: url('./fonts/picotype/picotype-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
