@font-face {
  font-family: 'picotype';
  src: url('../fonts/picotype/picotype-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'picotype';
  src: url('../fonts/picotype/picotype-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
