@font-face {
  font-family: 'picosans';
  src: url('../fonts/picosans/picosans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'picosans';
  src: url('../fonts/picosans/picosans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
